<h2>修改 <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :name %><br />
    <%= f.text_field :name %></div>

  <div><%= f.label :password %> <i>(如果不修改则留空)</i><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(再次输入密码)</i><br />
  <%= f.password_field :current_password %></div>

<div><%= f.submit "修改", :class => "input_button" %></div>
<% end %>

<h3>删除我的账户</h3>

<p>Unhappy? <%= link_to "删除我的账户", registration_path(resource_name), :confirm => "确定吗?", :method => :delete %>.</p>

<%= link_to "返回", :back %>
