!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: "个人资料"
  %body{class: "#{app_theme} profile"}
    = render "layouts/flash"
    = render "layouts/head_panel", title: "个人资料"
    .container
      %ul.main_menu
        = nav_link(path: 'profiles#show', html_options: {class: 'home'}) do
          = link_to "个人资料", profile_path
        = nav_link(controller: :profile, action: :account) do
          = link_to "账户", profile_account_path
        = nav_link(controller: :keys) do
          = link_to keys_path do
            SSH 密钥
            %span.count= current_user.keys.count
        = nav_link(controller: :profile, action: :design) do
          = link_to "主题", profile_design_path
        = nav_link(controller: :profile, action: :history) do
          = link_to "历史", profile_history_path

      .content= yield